/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box { display: block; }

/* Displays the option to enter an international phone */
.phone-box { display: block; }

/*============= Create Quote Button =============*/

.createQuoteButton{
  margin: 20px 0px;
  background-color: #3939e1;
  border-radius: 25px;
  justify-content: center;
  display: flex;
  padding: 15px 0px;
  font-size: 14px;
  cursor: pointer;
}
.createQuoteButton a{
  color: white;
  text-decoration: none;
}
.createQuoteButton a:hover{
  color: white;
}
.createQuoteButton:hover{
  background-color: #1f1f81;
}
