.chartRow {
  display: flex;
  height: 550px;
}
.chartCol {
  width: 50%;
  margin: 40px 20px;
  /* background-color: #272953; */
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(41, 35, 67, 0.473);
  border-radius: 10px;
}
/* .dashBoardContainer{
  background-color:#16113a;
} */
.chartHeadings {
  text-align: center;
  color: rgb(24, 7, 99);
}

.noDataAlert {
  padding: 5rem 1rem;
}
.dropdownContainer {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 1rem;
}
option {
  font-size: 18px;
  color: #196b9f;
  padding: 10px 0px;
}
/* option:hover{
  background-color: transparent !important;
} */
.warningStatus {
  text-align: center;
  position: relative;
  top: 60px;
  width: 50%;
  left: 150px;
}

.categoryBarChart {
  height: 450px;
  margin: 40px 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(41, 35, 67, 0.473);
  border-radius: 10px;
}

.filter {
  margin-top: 20px;
  padding-left: 20px;
}

.filter span {
  color: rgb(24, 7, 99);
  font-size: 24px;
  font-weight: bold;
}
