.imgHotspotContainer img+div {
  width: 450px;
  height: 300px;
  top: 0;
}

.hotSpot{
  padding:10px;
  cursor: pointer;
  background-color: rgb(152, 250, 152);
  border: 1px solid black;
  border-radius: 36%;
}
.textContainer{
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  background: #1b3255;
  color: white;
  border-radius: 20px;
  z-index: 5;
}
/* ===== */
.imgHotspotContainer{
  width: 450px;
}

/* .imageZoom:hover{
 transform: scale(1.5);
} */

