.peirceSearchBarContainer{
  display: flex;
  background-color: #EDEDED;
  padding: 7px 20px;
  border-radius: 13px;
  align-items: center;
}
.sarchText{
  font-size: 18px;
  font-weight: 600;
  padding: 0px 10px;
}
.myFleetText{
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 6px;
}
.resourcesText{
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 6px;
  margin: 0px 10px;
    color: #9a9999;
}
.searchBar{
  /* padding: 16px 0px; */
  width: 480px;
}
.advancedDropdown{
  /* position: relative; */
  /* right: 220px; */
  width: 210px;
}

.cardsContainer{
  position: absolute;
  right: 12rem;
  top: 10rem;
  width: 80%;
  background-color: white;
  /* overflow-y: scroll; */
}
.eachCards{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #a39e9ec7;
  padding: 15px;

}

.eachCards div{
  padding: 0px 25px;
}
.noDataMsg{
  color: red;
  display: flex;
  justify-content: center;
}
/* ================= */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .pageNum {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: 400;
}

.pagination .pageNum:hover {
  background-color: aquamarine;
  color: white;
}

.pagination .active {
  background-color: aquamarine;
}


