
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .pageNum {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: 400;
}

.pagination .pageNum:hover {
  background-color: aquamarine;
  color: white;
}

.pagination .active {
  background-color: aquamarine;
}

.suggestContainer {
  height: 400px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 58px;
  overflow: auto;
  left: 26rem;
}

.searchSuggests {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #dfd9d9;
  display: flex;
  padding: 15px;
 }
 .searchSuggests:hover{
  background-color: #ededed;
  cursor: pointer;
 }

.leftSideData{
  display: flex;
  font-size: 16px;
  font-weight: 700;
  }

.leftSideData p{
  margin: 0px;
}

.workorder p{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.rightSide{
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: 12px;
  padding-left: 110px;
  font-family: sans-serif;
  color: gray;
}
.rightSide p{
  font-size: 12px;
  margin: 0px;
}

.suggestBottom{
  box-shadow: rgb(0 0 0 / 35%) 0px 0px 6px;
  display: flex;
  border-top: 1px solid black;
  padding: 15px 3px;
}

.leftBottom{
  margin: 0px;
  padding-left: 30px;
  font-size: 12px;
}

.rightBottom{
  border: 1.5px solid black;
  margin-top: 20px;
  margin-left: 72px;
  padding: 10px;
  height: 37px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
/* =============== Pierce Styles============ */
.peirceSearchBarContainer{
  display: flex;
  background-color: #EDEDED;
  padding: 7px 20px;
  border-radius: 13px;
  align-items: center;
}
.sarchText{
  font-size: 14px;
  font-weight: 500;
  padding: 0px 10px;
}
.myFleetText{
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 6px;
}
.resourcesText{
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 6px;
  margin: 0px 10px;
  color: #9a9999;
}
.searchBar{
  width: 450px;
}
.searchBar div{
  height: 32px;
}
.searchBar input{
  font-size: 12px;
  font-weight: 500;
}
.advancedDropdown{
  position: absolute;
  right: 100px;
  width: 140px;
}
.advancedDropdown div{
  height: 32px;
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
}
.cardsContainer{
  position: absolute;
  right: 12rem;
  top: 10rem;
  width: 80%;
  background-color: white;
  /* overflow-y: scroll; */
}
.eachCards{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #a39e9ec7;
  padding: 15px;

}

.eachCards div{
  padding: 0px 25px;
}
.noDataMsg{
  color: red;
  display: flex;
  justify-content: center;
}
