.main {
  height: max-content;
  width: 100%;
}

.mainCotainer {
  height: 100px;
  width: 100%;
  display: flex;

}

.searchContainer {

  width: 70%;

}

.Searchdropdown {

  width: 15rem;
  height: 6rem;
  margin-left: 5rem;

}

.cardsContainer {

  /* padding: 5px;
  margin-left: 10px;
  display: grid;
  grid: 160px / auto auto;
  grid-gap: 20px;
 margin-top: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .pageNum {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: 400;
}

.pagination .pageNum:hover {
  background-color:aquamarine;
  color: white;
}

.pagination .active {
  background-color: aquamarine;
}


